export WEB=web
export WEB_HOST=0.0.0.0
export WEB_PORT=8000
export ALLOW_DOMAIN=.shinezone.com
export COOKIE_DOMAIN=.shinezone.com
export MEMCACHED_URLS=172.16.0.213:11212
export LOG_FILE_PATH=/tmp
export SHINEZONE_GATEWAY_HOST=https://qa-gateway.shinezone.com
export WEB_PRIVATE_KEY=827fe6fcd847975d61006ff06bb35b7c
export CONTAINER=Kubernetes
export DEMO_ENTITY_SHARD_COUNT=5
